numpy
scipy
galsim
fitsio
pyyaml
numba
des-easyaccess
des-desmeds
meds
ngmix
click
esutil
sep
joblib
jinja2
piff
cfitsio
metadetect>=0.10.0
des-pizza-cutter
des-sxdes>=0.3.0
setuptools_scm
setuptools_scm_git_archive
importlib_metadata
healsparse>=1.3.0
healpy
